VENDOR_BATCH_ETL_HOST_PATH=/path/to/vendor-payments-etl-analytics
VENDOR_BATCH_ETL_CONTAINER_PATH=/opt/airflow/vendor_payments_batch_etl

VENDOR_STREAMING_HOST_PATH=/path/to/vendor-payments-streaming-pipeline
VENDOR_STREAMING_CONTAINER_PATH=/opt/airflow/vendor_payments_streaming

VENDOR_CLOUD_HOST_PATH=/path/to/vendor-payments-cloud-data-platform
VENDOR_CLOUD_CONTAINER_PATH=/opt/airflow/vendor_payments_cloud_platform

VENDOR_STREAMING_STAGING_HOST_PATH=/path/to/vendor-payments-streaming-pipeline/output/staging
VENDOR_STREAMING_STAGING_CONTAINER_PATH=/opt/airflow/staging
