# Python
__pycache__/
*.pyc

# Airflow logs
logs/

# Environment
.env
venv/
.venv/

# IDE
.idea/
.vscode/
logs/

# Mac / Windows
.DS_Store
Thumbs.db

# Data (ignore everything in data folder)
data/*

# But allow folder structure
!data/.gitkeep

# Airflow runtime outputs
output/reports/